XML/Lab02/lessons_DTD.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT Timetable (Courses+)>
<!ELEMENT courses (Course+)>
<!ELEMENT course (Name, DateBegin, DateEnd, Lecturer, Hours)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT DateBegin (#PCDATA)>
<!ELEMENT DateEnd (#PCDATA)>
<!ELEMENT Lecturer (#PCDATA)>
<!ELEMENT Hours (#PCDATA)>
<!ATTLIST Course id #REQUIRED>